@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F6F6F6;
    color: #949494;
}

/* Header Area */
.nav-link a:after {
    content: '';
    position: absolute;
    background-color: #fb4c35;
    height: 2px;
    width: 0;
    transition: 0.3s;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link a:hover {
    color: #fb4c35;
}

.nav-link a:hover:after {
    color: #fb4c35;
    width: 90%;
}

/* #selected {
    color: #fb4c35;
}

#selected::after {
    content: '';
    position: absolute;
    background-color: #fb4c35;
    height: 2px;
    width: 90%;
    transition: 0.3s;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
} */

#top-header::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 1px;
    background-color: #CDCDCD;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);


}

/* Navbar */

ul li a:hover {
    color: #fb4c35;
}

#overlay {
    display: none;
}



/* modal Style  */

.button {
    background: #428bca;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
}

.modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}